{{define "content"}}
<h1>Backups</h1>
<table>
    <thead>
        <tr>
            <th>Backup ID</th>
            <th>Created</th>
            <th>Actor</th>
            <th>Tables</th>
        </tr>
    </thead>
    <tbody>
    {{range .Data}}
        <tr>
            <td><code>{{.BackupID}}</code></td>
            <td>{{.CreatedAt.Format "2006-01-02 15:04"}}</td>
            <td>{{.Actor}}</td>
            <td>{{.TablesDone}}</td>
        </tr>
    {{else}}
        <tr><td colspan="4" class="text-center">Nenhum backup encontrado</td></tr>
    {{end}}
    </tbody>
</table>
{{end}}
